body{
    margin:0;
    font-family:-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale
}
code{
    font-family:source-code-pro,Menlo,Monaco,Consolas,"Courier New",monospace
}
.App{
    text-align:center
}
.App-logo{
    height:40vmin;
    pointer-events:none
}
@media (prefers-reduced-motion:no-preference){
    .App-logo{
        -webkit-animation:App-logo-spin 20s linear infinite;
        animation:App-logo-spin 20s linear infinite
    }
}
.App-header{
    background-color:#282c34;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    font-size:calc(10px + 2vmin);
    color:#fff
}
.App-link{
    color:#61dafb
}
@-webkit-keyframes App-logo-spin{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(1turn)
    }
}
@keyframes App-logo-spin{
    0%{
        transform:rotate(0deg)
    }
    to{
        transform:rotate(1turn)
    }
}
:root{
    --main-bg-color:#dadce4;
    --accent-color:#8b8fa5
}
body{
    overflow:hidden;
    color:#8b8fa5;
    color:var(--accent-color);
    font-family:"Nunito",sans-serif
}
body::selection{
    background-color:#38fff2;
    color:#fff
}
p::selection{
    background-color:#38fff2;
    color:#fff
}
h1::selection{
    background-color:#38fff2;
    color:#fff
}
.radioText::selection{
    background-color:#38fff2;
    color:#fff
}
.copyText::selection{
    background-color:#38fff2;
    color:#fff
}
.toolTip::selection{
    background-color:#38fff2;
    color:#fff
}
.button::selection{
    background-color:#38fff2;
    color:#fff
}
.colorInput::selection{
    background-color:#38fff2;
    color:#fff
}
.button{
    line-height:2em;
    width:4em
}
.button,.buttonNoText{
    border-radius:.25em;
    border:2px solid #8b8fa5;
    border:2px solid var(--accent-color);
    color:#8b8fa5;
    color:var(--accent-color);
    font-family:"Nunito",sans-serif;
    font-weight:600;
    align-items:center;
    text-align:center;
    vertical-align:center;
    cursor:pointer
}
.buttonNoText{
    height:2em;
    width:4.5em;
    align-content:center;
    justify-content:center;
    display:flex
}
.paragraph{
    color:#8b8fa5;
    color:var(--accent-color);
    font-family:"Nunito",sans-serif
}
input[type=range]{
    -webkit-appearance:none;
    background:#8b8fa5;
    background:var(--accent-color);
    border-radius:50px;
    width:60%;
    height:8px;
    vertical-align:middle;
    display:inline-block;
    outline:none
}
.slider::-webkit-slider-thumb{
    -webkit-appearance:none;
    appearance:none;
    width:25px;
    height:25px;
    background:#8b8fa5;
    background:var(--accent-color);
    cursor:pointer;
    border-radius:50%;
    outline:none;
    color:#dadce4;
    color:var(--main-bg-color)
}
.slider::-moz-range-thumb{
    width:25px;
    height:25px;
    background:#8b8fa5;
    background:var(--accent-color);
    cursor:pointer;
    border-radius:50%;
    outline:none
}
.optionsContainer{
    border-radius:50px;
    background-color:#dadce4;
    background-color:var(--main-bg-color);
    padding:.5em 2em 1.5em;
    margin-bottom:1em;
    box-shadow:inset 7px 7px 14px #cfd1d4,inset -7px -7px 14px #fff;
    max-width:22em;
    width:22em;
    height:36em;
    display:grid
}
.heading,.subHeading{
    color:#8b8fa5;
    color:var(--accent-color);
    font-family:"Nunito",sans-serif
}
.subHeading{
    padding:0;
    margin-bottom:0
}
.colorPresetContainer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-gap:1em 1em;
    gap:1em 1em;
    grid-template-areas:". . . ." ". . . .";
    padding:0 0 1em
}
.colorPreset{
    min-height:2em;
    min-width:2em;
    height:2em;
    width:2em;
    display:flex;
    justify-content:center;
    align-items:center;
    box-shadow:5px 5px 10px #cacccf,-5px -5px 10px #fff;
    background-color:#dadce4;
    background-color:var(--main-bg-color);
    padding:1em;
    border-radius:50%;
    background:linear-gradient(145deg,#fff,#d6d8dc)
}
.colorPreset:hover{
    cursor:pointer
}
.shapePresetContainer{
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr;
    grid-gap:.6em 1em;
    gap:.6em 1em;
    grid-template-areas:". . . .";
    padding:0 0 .5em
}
.shapePreset{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:2em;
    min-width:2em;
    height:2em;
    width:2em;
    box-shadow:5px 5px 10px #cacccf,-5px -5px 10px #fff;
    background-color:#dadce4;
    background-color:var(--main-bg-color);
    padding:1em;
    border-radius:50%;
    background:linear-gradient(145deg,#fff,#d6d8dc)
}
.shapePreset:hover{
    cursor:pointer
}
.shapeContainer{
    display:grid;
    grid-template-columns:1fr 1fr 2 fr;
    grid-template-rows:1fr;
    grid-gap:4em 2em;
    gap:4em 2em;
    grid-template-areas:"a b c c";
    padding:0 .5em .5em 0;
    margin-top:.5em;
    justify-content:center
}
.radioContainer{
    display:flex;
    justify-content:center;
    align-content:center;
    align-items:center;
    flex-direction:column
}
.radioText{
    padding:.25em 0 0;
    margin:0;
    height:1em
}
.exampleContainer{
    border-radius:2em;
    min-height:50px;
    min-width:50px;
    box-shadow:inset 7px 7px 14px #d4d6d9,inset -7px -7px 14px #fff
}
.exampleTextContainer{
    z-index:999;
    opacity:0
}
.exampleTextContainer,.mockTextArea{
    width:30%;
    height:80%;
    resize:none;
    border-radius:50px;
    background-color:#dadce4;
    background-color:var(--main-bg-color);
    padding:.5em 2em 1em;
    box-shadow:inset 7px 7px 14px #cfd1d4,inset -7px -7px 14px #fff;
    outline:none;
    border:none;
    position:absolute
}
.mockTextArea{
    top:calc(50% - 40vh);
    overflow-wrap:break-word
}
.column{
    max-width:45%;
    min-width:45%;
    min-height:100vh;
    display:flex;
    justify-content:center;
    flex-direction:column;
    align-content:center;
    align-items:center
}
.contentColumnSection{
    background-color:#dadce4;
    background-color:var(--main-bg-color);
    display:flex;
    min-width:100vw;
    min-height:100vh;
    padding:.5em
}
.nextButton:hover{
    cursor:pointer
}
.nextContainer{
    display:flex;
    justify-content:space-between;
    vertical-align:middle;
    align-items:center
}
.copyPasta{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr;
    grid-gap:1em 2em;
    gap:1em 2em;
    grid-template-areas:". ." ". .";
    border-radius:.25em;
    border:2px solid #8b8fa5;
    border:2px solid var(--accent-color);
    padding:1em 0;
    margin:1em 0;
    border-radius:1em
}
.copyPasta,.toolTip{
    text-align:center;
    color:#8b8fa5;
    color:var(--accent-color);
    font-family:"Nunito",sans-serif
}
.toolTip{
    min-width:40%;
    min-height:40%;
    border-radius:.25em;
    border:2px solid #8b8fa5;
    border:2px solid var(--accent-color);
    line-height:2em
}
.copyText:hover{
    cursor:pointer;
    color:#3b89fd
}
.copyText:active{
    color:#38fff2
}
.rectIcon1{
    background-color:#d2d7e2
}
.rectIcon1,.rectIcon2{
    border-radius:15%;
    width:40%;
    height:80%
}
.rectIcon2{
    background-color:#8b8fa5;
    background-color:var(--accent-color)
}
.circleIcon1{
    background-color:#d2d7e2
}
.circleIcon1,.circleIcon2{
    border-radius:50%;
    width:40%;
    height:80%
}
.circleIcon2{
    background-color:#8b8fa5;
    background-color:var(--accent-color)
}
.innerColor{
    border-radius:.125em;
    width:100%;
    height:100%
}
.sliderContainer{
    padding:0;
    margin:0
}
.sliderText{
    width:30%;
    display:inline-block;
    font-size:.85em
}
.outerSliderContainer{
    padding-top:0;
    margin-top:0
}
.optionsHeadingContainer{
    display:flex;
    justify-content:space-between;
    margin-top:.5em
}
.innerSubHeading{
    color:#8b8fa5;
    color:var(--accent-color);
    font-family:"Nunito",sans-serif;
    padding:0;
    margin:0
}
.innerColorContainer{
    vertical-align:middle;
    justify-content:space-between;
    align-items:center;
    display:flex;
    width:100%;
    margin-left:0;
    padding:0
}
.colorPicker{
    width:80%;
    margin-right:.5em
}
.colorInput{
    color:#8b8fa5;
    color:var(--accent-color);
    font-family:"Nunito",sans-serif!important;
    background-color:#dadce4;
    background-color:var(--main-bg-color);
    width:100%;
    max-height:75%!important;
    border:1px solid #8b8fa5;
    border:1px solid var(--accent-color);
    border-radius:.25em
}
.colorInput:focus{
    border:1px solid #0076ff
}
.colorText{
    display:inline-block;
    width:30%;
    font-size:.85em
}
.neuText{
    font-family:"Nunito",sans-serif!important;
    font-weight:600;
    font-size:6rem;
    color:#8b8fa5;
    text-shadow:-5px -3px 8px #8b8fa5,6px 2px 12px #8b8fa5;
    outline:none;
    width:auto;
    line-height:1;
    pointer-events:none;
    position:relative;
    z-index:1000
}
.textAreaContainer{
    max-width:22em;
    width:22em;
    height:36em
}
.ph{
    width:250px;
    height:54px;
    position:absolute
}
@media only screen and (max-width:600px){
    .ph{
        width:125px;
        height:27px
    }
}
@media only screen and (max-width:400px){
    .ph{
        width:112.5px;
        height:24.3px
    }
}
@media only screen and (max-width:340px){
    .ph{
        width:87.5px;
        height:18.9px
    }
}
@media only screen and (max-width:1024px){
    body,html{
        background-color:#dadce4;
        background-color:var(--main-bg-color);
        overflow-y:scroll;
        -webkit-overflow-scrolling:touch
    }
    .contentColumnSection{
        display:flex;
        flex-direction:column;
        flex-wrap:wrap;
        overflow:hidden;
        min-width:100vw;
        min-height:100vh
    }
    .column{
        min-height:40vh;
        max-width:100%
    }
    .exampleContainer{
        max-width:225px;
        max-height:225px
    }
    .optionsContainer{
        width:16.5em;
        height:27em
    }
    .buttonNoText{
        height:1.5em;
        width:3.375em
    }
    .button{
        line-height:1.5em;
        width:3em
    }
}
